version: '3.3'

networks:
  platappnet:
    ipam:
      driver: default

services:
  # 平台
  postgres_platform:
    image: postgres:14
    environment:
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: ppcp
      POSTGRES_USER: root
    networks:
      - platappnet
  cache:
    image: redis
    networks:
      - platappnet
  platform:
    image: "${RegistryURI}/ppcp-backend:${TAG}"
    environment:
      - DB_URI=postgres://root:123456@postgres_platform:5432/ppcp
      - ZK_HOST=zookeeper
      - ZK_PORT=2181
      - ADMIN_USERNAME=admin
      - ADMIN_PASSWORD=123456
      - PLATFORM_SECRET=thisisplatform
      - TZ=UTC
      - REDIS_HOST=cache
    ports:
      - 5555:8000
    command: sh -c "aerich upgrade &&uvicorn ppcp.entry:app --host 0.0.0.0"
    networks:
      - platappnet
    depends_on:
      - postgres_platform

  platform_page:
    image: "${RegistryURI}/ppcp-frontend:${TAG}"
    environment:
      - API_PREFIX=/backend-api/
      - API=http://${IP}:5555
    ports:
      - 8080:80
    # volumes:
    #   - ./nginx_templates/default.conf.template:/etc/nginx/templates/default.conf.template
    env_file:
      - .env
